html, body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
}

/*function to hide certain screens until you click to the next*/
.hidden {
    display: none !important;
}

.fit {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}

/*function to set the shape of each image*/
.fit img {
    max-width: 100vw;
    max-height: 100vh;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
}

.back-arrow {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 40px solid rgba(255, 255, 255, 0.4); /* Slightly see-through */
    cursor: pointer;
    z-index: 100; /* High number to stay on top */
}

.back-arrow:hover {
    border-top-color: rgba(255, 255, 255, 0.8);
}

/*centers the items inside the menu*/
/*fixme*/
#menu-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*Start Game Button design */
/*FIXME*/
#start-button {
    width: 100px; height: 100px; background: red; color: white;
    display: flex; align-items: center; justify-content: center;
    cursor: pointer; border-radius: 10px; transition: 0.1s;
    margin: 20px; /*adds space above and below button*/
}
#start-button:active { transform: scale(0.9); }

/*Button to exit to main menu*/
/*fixme*/
#quit-btn {

}

#tutorial {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;    /* Centers vertically */
    justify-content: center; /* Centers horizontally */
    position: absolute;
    top: 0;
    left: 0;
}

#bd-main-page {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}

/*Hitboxes for bookDropDoorZoomOut*/
#bd-door-hitbox {
    position: absolute;
    top: 3%;
    left: 37%;
    width: 32%;
    height: 93%;

    background-color: transparent;
    border: 2px solid yellow;
    cursor: pointer; /* makes 'hand' icon so players know to click */
    z-index: 10;
}

/*hitboxes for bookDropZoomIn */
#bd-slot-hitbox {
    position: absolute;
    top: 51%;
    left: 37%;
    width: 34%;
    height: 24%;

    background-color: transparent;
    border: 2px solid yellow;
    cursor: pointer; /* makes 'hand' icon so players know to click */
    z-index: 10;
}

#bd-handle-hitbox {
    position: absolute;
    top: 47%;
    left: 20%;
    width: 7%;
    height: 17%;

    background-color: transparent;
    border: 2px solid yellow;
    cursor: pointer; /* makes 'hand' icon so players know to click */
    z-index: 10;
}

/*fixme*/
#bd-closed-hitbox {
    position: absolute;
    top: 34%;
    left: 17%;
    width: 64%;
    height: 36%;

    background-color: transparent;
    border: 2px solid yellow;
    cursor: pointer; /* makes 'hand' icon so players know to click */
    z-index: 10;
}

#bd-key-hitbox {
    position: absolute;
    top: 60%;
    left: 45%;
    width: 9%;
    height: 9%;

    background-color: transparent;
    border: 2px solid yellow;
    cursor: pointer; /* makes 'hand' icon so players know to click */
    z-index: 10;
}

#bd-slot-open-hitbox {
    position: absolute;
    top: 40%;
    left: 9%;
    width: 82%;
    height: 45%;

    background-color: transparent;
    border: 2px solid yellow;
    cursor: pointer; /* makes 'hand' icon so players know to click */
    z-index: 10;
}

#bd-door-handle-hitbox {
    position: absolute;
    top: 69%;
    left: 43%;
    width: 31%;
    height: 13%;

    background-color: transparent;
    border: 2px solid yellow;
    cursor: pointer; /* makes 'hand' icon so players know to click */
    z-index: 10;
}

#bd-door-keyhole-hitbox {
    position: absolute;
    top: 35%;
    left: 42%;
    width: 8%;
    height: 11%;

    background-color: transparent;
    border: 2px solid yellow;
    cursor: pointer; /* makes 'hand' icon so players know to click */
    z-index: 10;
}

#bd-back-door-hitbox {
    position: absolute;
    top: 22%;
    left: 52%;
    width: 9%;
    height: 52%;

    background-color: transparent;
    border: 2px solid yellow;
    cursor: pointer; /* makes 'hand' icon so players know to click */
    z-index: 10;
}

#bd-cart-hitbox {
    position: absolute;
    top: 64%;
    left: 37%;
    width: 5%;
    height: 24%;

    background-color: transparent;
    border: 2px solid yellow;
    cursor: pointer; /* makes 'hand' icon so players know to click */
    z-index: 10;
}