html, body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
}

/*function to hide certain screens until you click to the next*/
.hidden {
    display: none !important;
}

.fit {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}

/*function to set the shape of each image*/
.fit img {
    max-width: 100vw;
    max-height: 100vh;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
}

/*centers the items inside the menu*/
/*fixme*/
#menu-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*Start Game Button design */
/*FIXME*/
#start-button {
    width: 100px; height: 100px; background: red; color: white;
    display: flex; align-items: center; justify-content: center;
    cursor: pointer; border-radius: 10px; transition: 0.1s;
    margin: 20px; /*adds space above and below button*/
}
#start-button:active { transform: scale(0.9); }

/*Button to exit to main menu*/
/*fixme*/
#quit-btn {

}

#tutorial {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;    /* Centers vertically */
    justify-content: center; /* Centers horizontally */
    position: absolute;
    top: 0;
    left: 0;
}

#bookDropDoorZoomOutPage {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}

/*Hitboxes for bookDropDoorZoomOut*/
#bookDropDoor-hitbox {
    position: absolute;
    top: 3%;
    left: 37%;
    width: 32%;
    height: 93%;

    background-color: transparent;
    border: 2px solid yellow;
    cursor: pointer; /* makes 'hand' icon so players know to click */
    z-index: 10;
}

/*hitboxes for bookDropZoomIn */
#bookDrop-hitbox {
    position: absolute;
    top: 51%;
    left: 37%;
    width: 34%;
    height: 24%;

    background-color: transparent;
    border: 2px solid yellow;
    cursor: pointer; /* makes 'hand' icon so players know to click */
    z-index: 10;
}

#bookDropDoorHandle-hitbox {
    position: absolute;
    top: 47%;
    left: 20%;
    width: 7%;
    height: 17%;

    background-color: transparent;
    border: 2px solid yellow;
    cursor: pointer; /* makes 'hand' icon so players know to click */
    z-index: 10;
}

